<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Me Thymee</title>
</head>
<body bgcolor="#ff7f50">

<div align="center">
    <h1 th:text="${welcome}"></h1>

    <h3>My Name Is : <span th:text="${name}"></span></h3>

    <h3>Last Name Is : <span th:text="${#strings.toUpperCase(last)}"></span></h3>

    <h3>Length Of Name : <span th:text="${#strings.length(name)}"></span></h3>

    <h3>Time & Date Is : <span th:text="${date}"></span></h3>
</div>

<!--        Declaring Local Variable In Thymeleaf       -->


<div th:with="a=10 , b=20 , n=${name}" align="center">

    <h1> Declaring Local Variable In Thymeleaf </h1>

    <h4>My Name In Local <span th:text="${n}"> </span></h4>

    <h4 th:text="${'Value Of a = ' + a}"></h4>

    <h4 th:text=" 'Value Of b = ' + ${b} "></h4>

    <h4 th:text=" 'Sum Of a = ' + ${a} + ' and b = ' + ${b} + ' is : ' + ${ a+b} "></h4>

</div>

<!--<h4>Accessing Name Local Outside : <span th:text="${n}"> </span></h4>-->

<!--        Iteration In Thymeleaf          -->

<!--
status -
index : the current iteration index ,starting with 0
count : the number of elements processed so far
size : the total number of elements in the list
even/odd : checks if the current iteration index is even or odd
first : check if the current iteration is the first one
last : checks if the current iteration is the last one
-->

<div align="center">

    <h1> Iteration In Thymeleaf </h1>

    <ul>
        <li th:each="n ,status : ${me}">
            <h5 th:style=" ${status.odd} ? 'font-style:italic ' : ' font-size:20px; color: white; ' "
                th:text="${status.index } + ${n}"></h5>
        </li>
    </ul>
</div>

</body>
</html>